.projects-header {
    margin-top: 3rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
}

.card {
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-width: 30rem;
}

.links {
    text-align: center;
}

#project-par {
    font-family: 'Roboto Slab', serif;
}